{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Создать новую запись о материале ткани {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="material">материал</label>
        <input type="text" name="material"
               placeholder="Post prod" class="form-control"
               value="{{ request.form['material'] }}"></input>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}