{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{ post['название_ткани'] }} {% endblock %}</h2>

            <h7> Цена за метр: {{ post['цена_за_метр'] }} рублей</h7>  <br>
            <h7> Ширина: {{ post['ширина_ткани'] }} сантиметров</h7>  <br>
            <h7> Цвет: {{ post['цвет'] }}</h7>   <br>
            <h7> Назначение ткани: {{ post['назначение_ткани'] }}</h7>  <br>
            <h7> Тип ткани: {{ post['тип_ткани'] }}</h7>  <br>
            <h7> Страна производитель: {{ post['страна_производитель'] }}</h7>  <br>
            <h7> Название скидки: {{ post['название_скидки'] }}</h7>  <br>
            <h7> Величина скидки: {{ post['величина_скидки'] }} %</h7>  <br>
            <h7> Дата начала скидки: {{ post['дата_начала_скидки'] }}</h7>  <br>
            <h7> Дата конца скидки: {{ post['дата_конца_скидки'] }}</h7>  <br>
            <h7> Материал: {{ post['материал'] }}</h7>  <br>
            <h7> Процентное содержание материала: {{ post['процентное_содержание_состава'] }} %</h7>  <br>
            <h7> Фото ткани:  </h7>  <br>
               <img src="{{post['фото_ткани']}}" />
    <span class="badge badge-primary">{{ post['created'] }}</span>
    <p>{{ post['content'] }}</p>
{% endblock %}